@font-face {
  font-family: 'Vazir-Regular';
  src:  url('../fonts/Vazir-Regular.eot?7ldoi4');
  src:  url('../fonts/Vazir-Regular.eot?7ldoi4#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Regular.ttf?7ldoi4') format('truetype'),
    url('../fonts/Vazir-Regular.woff?7ldoi4') format('woff');


  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.vazir {
  font-family: Vazir-Regular;
}


.client-header {
 background-color: #31394c !important;
 color: #e6ecfa;
}

.client-content {
  background-color: #212735 !important;
  color: #e6ecfa;
  padding: 20px;
 }

.form-signin {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 30px;
  /* background: #353535; */
  /* border: 1px solid #dadada;
  box-shadow: 1px 1px 11px 0px #dadadabd; */
 }

header {
  background-color: transparent !important;
  border: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.menu-space-hr {
  margin: 0 !important;
  padding: 0 !important;
}

.client-menu-header {
  padding: 10px;
}

.nav-link {
  color: #ffffff !important;
  font-size: 18px !important;
}

.client-notif {
  text-align: left !important;
  padding-left: 20px !important;
  font-size: 18px !important;
  padding-top: 15px;
}

.client-notif-icon span {
    position: absolute;
    font-size: 10px;
    left: 42px;
    top: 9px;
}

.client-notif a {
  color: #ffffff !important;
  text-decoration: none;
}

.client-notif-icon svg {
  width: 60%;
  height: 60%;
}

.nav-item {
  margin-left: 20px;
}

.navbar-nav {
  padding-bottom: 5px;
}


.cright {
  text-align: center; 
  font-size: 14px; 
  text-shadow: 1px 1px 8px #dadada;
}

.form-signin input {
 color: #dadada;
}

.main-admin {
  background-color: #211d41;
  color: #f8f8f9;
  border-radius: 8px !important;
  box-shadow: 1px 1px 8px 0px #2727277a;
  min-height: 300px;
}

.admin-main-block-dashboard {
  margin-top: 20px !important;
  padding: 20px;
  margin-bottom: 50px !important;
}

.admin-home-calendar {
  border-radius: 8px;
  padding: 20px 30px !important;
  min-height: 500px;
  color: #211d41;
}

.admin-home-quickmenu {
  padding: 10px 0 10px 20px !important;
}

.admin-home-quickmenu-top-menu {
  font-family: Vazir-Regular;
  font-size: 18px;
  padding: 5px 3px;
}
.admin-home-quickmenu-top-menu a {
  color: white !important;
  text-decoration: none !important;
  margin-left: 20px !important;
}

.admin-home-quickmenu-top-menu a:hover {
  color: rgb(35, 60, 135) !important;
}

.admin-home-quickmenu-navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}

.admin-home-quickmenu-center-block {
  min-height: 300px;
  background-color: #373355;
  border-radius: 8px;
  padding: 20px 30px !important;
  font-family: Vazir-Regular;
}
.admin-home-calendar a {
  color: #211d41;
  font-family: Vazir-Regular;
}

#calendar {
  font-size: 12px;
  font-family: Vazir-Regular;
}

.fc-scroller.fc-scroller-liquid-absolute {
  overflow: hidden !important;
}
.iconly-bulkCategory {
  font-size: 30px;
  padding-right: 5px;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active,
.fc-prev-button.fc-button.fc-button-primary,
.fc-next-button.fc-button.fc-button-primary,
.fc-today-button.fc-button.fc-button-primary {
  background-color: #f1f5ff !important;
  border-color: #f1f5ff !important;
  color: #66676c !important;
}

.fc-toolbar-title {
  color: #28282ac8 !important;
  font-family: Vazir-Regular;
}

.admin-home-calendar-h3-title-last-post {
  color: #28282ac8 !important;
  font-family: Vazir-Regular;
  margin: 30px 0;
}

.ttt {
  text-align: center;
  min-height: 200px;
  margin: 10px 0;
  padding: 10px;
  color: white;
  border-radius: 15px;
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.admin-home-main-cms-block-tools-bottom {
  margin-top: 50px;
}

.admin-home-last-comment {
  background-color: #514c77;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 10px 15px;
}

.admin-home-last-comment-profile-pic {
  min-height: 50px;
  background-color: #5d597c;
  border-radius: 15px;
}
/* .cms-block-menu-right {
  
} */

.home-admin-users,
.statics-menu,
.seo-setting-menu,
.create-category-menu,
.create-post-menu {
  margin-bottom: 10px;
  min-height: 100px;
  background-color: #514c77;
  border-radius: 15px;
}

.activity-menu {
  margin-bottom: 10px;
  min-height: 320px;
  background-color: #514c77;
  border-radius: 15px;
}

.row.left-menu-admin-home {
  margin: 0;
}

.admin-home-last-comment-user-full-name {
  font-family: Vazir-Regular;
  font-size: 14px;
}

.admin-home-last-notif-title,
.admin-home-last-comment-title {
  padding: 6px 0 0 0;
  margin-right: 15px;
}

.iconly-bulkEdit {
  font-size: 40px;
}

.create-category-menu,
.seo-setting-menu,
.create-post-menu {
  padding: 10px 15px;
}

.admin-home-comment-text,
.admin-home-users-text,
.admin-home-seo-title-text,
.admin-home-create-category-title-text,
.admin-home-create-post-title-text {
  font-size: 15px;
  margin-top: 20px;
}

.admin-dashbord-h3-right-side-title {
  font-size: 20px;
}

.admin-dashbord-right-side-text {
  font-size: 13px;
}

.activity-menu {
  padding: 20px 20px 10px 20px;
}

.admin-home-users-icon {
  font-size: 30px;
}

.home-admin-users {
  padding: 10px 15px;
}
.home-admin-users .iconly-bulkShield-Done {
  font-size: 40px;
}

.admin-home-activity-menu,
.admin-home-sub-menu,
.admin-home-comment-menu,
.admin-home-user-menu {
  padding: 10px;
}

.admin-home-activity-menu .iconly-bulkInfo-Square,
.admin-home-sub-menu .iconly-bulkWallet {
  font-size: 30px;
}

.admin-home-activity-menu .iconly-bulkInfo-Square .path2:before {
  color: #f8f8f9 !important;
}
.admin-home-comment-menu .iconly-bulkChat .path1:before {
  color: rgb(21 19 19) !important;
}

.comment-home-admin-margin {
  margin-left: 12px;
}

.admin-home-tab a {
  color: #f8f8f9;
  font-size: 14px;
}

.admin-home-ul-of-lists {
  font-size: 13px;
  line-height: 25px;
}

.activities-title-admin-home .iconly-bulkArrow---Right-Square {
  font-size: 25px;
  margin-right: 10px;
}
.activities-title-admin-home a {
  color: transparent !important;
  text-decoration: none;
}

.activities-title-admin-home .iconly-bulkArrow---Right-Square .path2:before {
  color: #f1f5ff;
}

.activities-title-admin-home-text {
  top: -8px;
  position: relative;
}

.admin-blog-post-list {
  font-size: 14px;
  color:#66676c;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.titile-of-blog-posts {
  font-size: 18px;
  font-family: Vazir-Regular;
}

.top-post-btn .btn {
  font-size: 18px;
}

/* spacer */
.space10 {
  clear: both !important;
  margin-top: 10px !important;
}

.space20 {
  clear: both !important;
  margin-top: 20px !important;
}

.space30 {
  clear: both;
  margin-top: 30px !important;
}

.space40 {
  clear: both;
  margin-top: 40px !important;
}

.space50 {
  clear: both;
  margin-top: 50px !important;
}

.space60 {
  clear: both;
  margin-top: 60px !important;
}

.test1 {
  background-image: url("../images/test3.jpg");
  background-repeat: no-repeat;
  box-shadow: 1px 1px 8px #dadada;
  background-size: cover;
}

.test2 {
  background-image: url("../images/test2.jpg");
  background-repeat: no-repeat;
  box-shadow: 1px 1px 8px #dadada;
  background-size: cover;
}

.test3 {
  background-image: url("../images/test1.jpg");
  background-repeat: no-repeat;
  box-shadow: 1px 1px 8px #dadada;
  background-size: cover;
}

.opration-post-blog .btn {
  font-family: Vazir-Regular;
  font-size: 13px;
}

.pagination-record-lists {
  margin: 0 auto;
}

.pagination-record-lists ul {
  margin: 0 auto;
}

.title-input-text {
  background-color: white !important;
}

.paginationlist {
  font-family: Vazir-Regular !important;
  font-size: 14px !important;
  border-radius: 0 !important;
}

.odd-list-of-blog-posts {
  padding: 20px 10px;
  background-color: #e6e6e6;
  border-radius: 8px;
}

.blog-list .badge {
  font-size: 15px;
}

.blog-list a {
  text-decoration: none !important;
}

.list-activity-blog-post-and-category {
  font-size: 14px;
}

button.reset-admin-search-btn {
  font-family: Vazir-Regular !important;
  font-size: 14px;
}
select option,
select.form-select {
  font-size: 14px;
  font-family: Vazir-Regular !important;
}

.admin-notif-live-title {
  font-size: 14px;
  padding: 0 5px;
}

.admin-notif-live-text {
  font-size: 12px;
  padding: 10px 10px !important;
  line-height: 25px;
  text-align: justify;
}

.toast-container {
  position: fixed;
  top: 0;
  right: 0;
}

.admin-create-category {
  min-height: 300px;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f5f1;
  color: black;
}

.admin-create-category-tools {
  color: white;
  font-family: Vazir-Regular !important;
  font-size: 18px !important;
}


.btn-info.admin-create-category-tools {
  color: white !important;
}

.create-category-tools-items {
  font-size: 14px;
  font-family: Vazir-Regular !important;
  text-align: justify;
}

.create-category-tools-items svg {
  margin-left: 5px;
}

.admin-there-is-no-field {
  border: #524e4e dashed 1px;
  border-radius: 5px;
  padding: 20px;
  background: #e6e6e6;
  font-size: 24px;
  font-family: Vazir-Regular !important;
  text-align: center;
}

.admin-there-is-no-field:hover {
  background: #d2d2d2;
  border: #000000 dashed 1px;
  box-shadow: 1px 1px 16px 9px #dadada9c;
}

.admin-there-is-no-field span.text-muted {
  font-size: 12px;
}

.field {
  font-family: Vazir-Regular !important;
  text-align: justify;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-error-tag span.invalid-feedback {
  display: block;
}

.admin-upload-form div.drop {
  border: #e0dbdb solid 1px;
  border-radius: 5px;
  padding: 20px;
  background: #ffffff;
  font-size: 24px;
  font-family: Vazir-Regular !important;
  text-align: center;
  box-shadow: #dadada 1px 1px 20px 8px;
  margin-bottom: 40px;
}

.admin-upload-img-form img {
  border-radius: 8px;
  max-height: 133px;
}
.admin-upload-form span.text-muted {
  font-size: 14px;
}

.admin-upload-form-progress {
  height: 20px !important;
}

.entry {
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 8px;
  box-shadow: #dadada 1px 1px 11px 6px;
  margin: 20px 10px;
}

.admin-tag-field-size {
  font-size: 14px !important;
  margin-bottom: 10px;
}

.btn-close.delete-tag {
  background-color: white !important;
  opacity: 0.85;
  font-size: 10px;
}

.editor-diver {
  margin-bottom: 100px;
  clear: both;
  min-height: 150px;
}

.editor {
  min-height: 120px;
}

.opration-post-blog a {
  font-size: 16px !important;
}

.link-converter-bdg {
  font-size: 14px !important;
}
/* colors */
.bw {
  background-color: white !important;
}
/* icon */
@font-face {
  font-family: 'Iconly-bulk';
  src:  url('../fonts/Iconly-bulk.eot?7ldoi4');
  src:  url('../fonts/Iconly-bulk.eot?7ldoi4#iefix') format('embedded-opentype'),
    url('../fonts/Iconly-bulk.ttf?7ldoi4') format('truetype'),
    url('../fonts/Iconly-bulk.woff?7ldoi4') format('woff'),
    url('../fonts/Iconly-bulk.svg?7ldoi4#Iconly-bulk') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconly-bulk"], [class*=" iconly-bulk"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Iconly-bulk' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconly-bulkArrow---Down .path1:before {
  content: "\e900";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Down .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkUser .path1:before {
  content: "\e902";
  color: rgb(32, 14, 50);
}
.iconly-bulkUser .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkUser .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkUser .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkUser1 .path1:before {
  content: "\e906";
  color: rgb(32, 14, 50);
}
.iconly-bulkUser1 .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkUser1 .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkUser1 .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkUser1 .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkUser1 .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkActivity .path1:before {
  content: "\e90c";
  color: rgb(32, 14, 50);
}
.iconly-bulkActivity .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkAdd-User .path1:before {
  content: "\e90e";
  color: rgb(32, 14, 50);
}
.iconly-bulkAdd-User .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkAdd-User .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Down-2 .path1:before {
  content: "\e911";
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Down-2 .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Down-3 .path1:before {
  content: "\e913";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Down-3 .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Down-Circle .path1:before {
  content: "\e915";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Down-Circle .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Down-Square .path1:before {
  content: "\e917";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Down-Square .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left-2 .path1:before {
  content: "\e919";
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left-2 .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Left-3 .path1:before {
  content: "\e91b";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Left-3 .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left-Circle .path1:before {
  content: "\e91d";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Left-Circle .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left-Square .path1:before {
  content: "\e91f";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Left-Square .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left .path1:before {
  content: "\e921";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Left .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right-2 .path1:before {
  content: "\e923";
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right-2 .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Right-3 .path1:before {
  content: "\e925";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Right-3 .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right-Circle .path1:before {
  content: "\e927";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Right-Circle .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right-Square .path1:before {
  content: "\e929";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Right-Square .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right .path1:before {
  content: "\e92b";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Right .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up-2 .path1:before {
  content: "\e92d";
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up-2 .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Up-3 .path1:before {
  content: "\e92f";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Up-3 .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up-Circle .path1:before {
  content: "\e931";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Up-Circle .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up-Square .path1:before {
  content: "\e933";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Up-Square .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up .path1:before {
  content: "\e935";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkArrow---Up .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkBag-2 .path1:before {
  content: "\e937";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkBag-2 .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkBag .path1:before {
  content: "\e939";
  color: rgb(32, 14, 50);
}
.iconly-bulkBag .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkBookmark .path1:before {
  content: "\e93b";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkBookmark .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkBuy .path1:before {
  content: "\e93d";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkBuy .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkCalendar .path1:before {
  content: "\e93f";
  color: rgb(32, 14, 50);
}
.iconly-bulkCalendar .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkCalendar .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkCalendar .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkCall-Missed .path1:before {
  content: "\e943";
  color: rgb(32, 14, 50);
}
.iconly-bulkCall-Missed .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkCall-Silent .path1:before {
  content: "\e945";
  color: rgb(32, 14, 50);
}
.iconly-bulkCall-Silent .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkCall-Silent .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkCall:before {
  content: "\e948";
}
.iconly-bulkCalling .path1:before {
  content: "\e949";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkCalling .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkCalling .path3:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkCamera .path1:before {
  content: "\e94c";
  color: rgb(32, 14, 50);
}
.iconly-bulkCamera .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkCategory .path1:before {
  content: "\e94e";
  color: rgb(249, 249, 249);
  opacity: 0.4;
}
.iconly-bulkCategory .path2:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.iconly-bulkChart .path1:before {
  content: "\e950";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkChart .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkChart .path3:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkChart .path4:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkChat .path1:before {
  content: "\e954";
  color: rgb(255, 255, 255);
  opacity: 0.4;
  font-size: 30px;
}
.iconly-bulkChat .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(237, 233, 240);
  font-size: 30px;
}
.iconly-bulkClose-Square .path1:before {
  content: "\e956";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkClose-Square .path2:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkDanger .path1:before {
  content: "\e958";
  color: rgb(255, 255, 255);
  opacity: 0.4;
  font-size: 30px;
}
.iconly-bulkDanger .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.iconly-bulkDelete .path1:before {
  content: "\e95a";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkDelete .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkDiscount .path1:before {
  content: "\e95c";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkDiscount .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkDiscovery .path1:before {
  content: "\e95e";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkDiscovery .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkDocument .path1:before {
  content: "\e960";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkDocument .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkDownload .path1:before {
  content: "\e962";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkDownload .path2:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkEdit-Square .path1:before {
  content: "\e964";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkEdit-Square .path2:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkEdit .path1:before {
  content: "\e966";
  color: rgb(255, 255, 255);
  opacity: 0.4;
}
.iconly-bulkEdit .path2:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(32 14 50 / 53%);
}
.iconly-bulkEdit .path3:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(167 153 181);
  opacity: 0.4;
}
.iconly-bulkFilter-2 .path1:before {
  content: "\e969";
  color: rgb(32, 14, 50);
}
.iconly-bulkFilter-2 .path2:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkFilter .path1:before {
  content: "\e96b";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkFilter .path2:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkFilter .path3:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkFilter .path4:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkFolder .path1:before {
  content: "\e96f";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkFolder .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkGame .path1:before {
  content: "\e971";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkGame .path2:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkGraph .path1:before {
  content: "\e973";
  color: rgb(32, 14, 50);
}
.iconly-bulkGraph .path2:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkHeart .path1:before {
  content: "\e975";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkHeart .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkHeart .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkHide .path1:before {
  content: "\e978";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkHide .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkHome:before {
  content: "\e97a";
}
.iconly-bulkImage-2 .path1:before {
  content: "\e97b";
  color: rgb(32, 14, 50);
}
.iconly-bulkImage-2 .path2:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkImage-2 .path3:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkImage .path1:before {
  content: "\e97e";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkImage .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkInfo-Circle .path1:before {
  content: "\e980";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkInfo-Circle .path2:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkInfo-Square .path1:before {
  content: "\e982";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkInfo-Square .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkLocation .path1:before {
  content: "\e984";
  color: rgb(32, 14, 50);
}
.iconly-bulkLocation .path2:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkLock .path1:before {
  content: "\e986";
  color: rgb(32, 14, 50);
}
.iconly-bulkLock .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkLogin .path1:before {
  content: "\e988";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkLogin .path2:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkLogout .path1:before {
  content: "\e98a";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkLogout .path2:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkMessage .path1:before {
  content: "\e98c";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkMessage .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkMore-Circle .path1:before {
  content: "\e98e";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkMore-Circle .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkMore-Square .path1:before {
  content: "\e990";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkMore-Square .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkNotification .path1:before {
  content: "\e992";
  color: rgb(32, 14, 50);
}
.iconly-bulkNotification .path2:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Download .path1:before {
  content: "\e994";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Download .path2:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Download .path3:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkPaper-Fail .path1:before {
  content: "\e997";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Fail .path2:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Fail .path3:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkPaper-Negative .path1:before {
  content: "\e99a";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Negative .path2:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Negative .path3:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkPaper-Plus .path1:before {
  content: "\e99d";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Plus .path2:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Plus .path3:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkPaper-Upload .path1:before {
  content: "\e9a0";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Upload .path2:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper-Upload .path3:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkPaper .path1:before {
  content: "\e9a3";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper .path2:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPaper .path3:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkPassword .path1:before {
  content: "\e9a6";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPassword .path2:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkPlay .path1:before {
  content: "\e9a8";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPlay .path2:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkPlus .path1:before {
  content: "\e9aa";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkPlus .path2:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkProfile .path1:before {
  content: "\e9ac";
  color: rgb(32, 14, 50);
}
.iconly-bulkProfile .path2:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkScan .path1:before {
  content: "\e9ae";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkScan .path2:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkSearch .path1:before {
  content: "\e9b0";
  color: rgb(32, 14, 50);
}
.iconly-bulkSearch .path2:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkSend .path1:before {
  content: "\e9b2";
  color: rgb(32, 14, 50);
}
.iconly-bulkSend .path2:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkSetting .path1:before {
  content: "\e9b4";
  color: rgb(32, 14, 50);
}
.iconly-bulkSetting .path2:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkShield-Done .path1:before {
  content: "\e9b6";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkShield-Done .path2:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.iconly-bulkShield-Fail .path1:before {
  content: "\e9b8";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkShield-Fail .path2:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkShow .path1:before {
  content: "\e9ba";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkShow .path2:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkStar .path1:before {
  content: "\e9bc";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkStar .path2:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkSwap .path1:before {
  content: "\e9be";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkSwap .path2:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkSwap .path3:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkSwap .path4:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkTick-Square .path1:before {
  content: "\e9c2";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkTick-Square .path2:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkTicket-Star .path1:before {
  content: "\e9c4";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkTicket-Star .path2:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkTicket .path1:before {
  content: "\e9c6";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkTicket .path2:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkTime-Circle .path1:before {
  content: "\e9c8";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkTime-Circle .path2:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkTime-Square .path1:before {
  content: "\e9ca";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkTime-Square .path2:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkUnlock .path1:before {
  content: "\e9cc";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkUnlock .path2:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkUpload .path1:before {
  content: "\e9ce";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkUpload .path2:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkVideo .path1:before {
  content: "\e9d0";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkVideo .path2:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkVoice-2 .path1:before {
  content: "\e9d2";
  color: rgb(32, 14, 50);
}
.iconly-bulkVoice-2 .path2:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkVoice .path1:before {
  content: "\e9d4";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkVoice .path2:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkVolume-Down .path1:before {
  content: "\e9d6";
  color: rgb(32, 14, 50);
}
.iconly-bulkVolume-Down .path2:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkVolume-Off .path1:before {
  content: "\e9d8";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkVolume-Off .path2:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkVolume-Up .path1:before {
  content: "\e9da";
  color: rgb(32, 14, 50);
}
.iconly-bulkVolume-Up .path2:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkVolume-Up .path3:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkWallet .path1:before {
  content: "\e9dd";
  color: rgb(32, 14, 50);
}
.iconly-bulkWallet .path2:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkWallet .path3:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkWork .path1:before {
  content: "\e9e0";
  color: rgb(32, 14, 50);
  opacity: 0.4;
}
.iconly-bulkWork .path2:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}
.iconly-bulkWork .path3:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(32, 14, 50);
}



.phx-modal-content {
  background: transparent;
  border: 0;
}
.error-card-modal  {
  margin: 0 auto;
  font-size: 14px;
  text-align: justify;
}

.svg-div-error-modal {
  text-align: center;
  margin: 0 auto;
}

.error-modal-badage-dark {
  font-size: 16px !important;
  font-family: Vazir-Regular !important;
}

.error-card-modal-main-text {
  line-height: 28px;
}

.modal-close-btn {
  margin: 0 auto;
  text-align: center;
}
.modal-close-btn button {
  font-size: 14px !important;
  font-family: Vazir-Regular !important;
}